<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-sringsecurity">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>

    <link rel="stylesheet" href="css/indexstyle.css">
    <link rel="stylesheet" href="css/signupstyle.css">
    <link rel="stylesheet" href="/../static/css/indexstyle.css">
    <link rel="stylesheet" href="/../static/css/signupstyle.css">
    <link href="//db.onlinewebfonts.com/c/a4e256ed67403c6ad5d43937ed48a77b?family=Core+Sans+N+W01+35+Light" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="css/form.css">

</head>
<body>
<!-- TOP Bar -->
<div th:replace="index3 :: navbar"></div>
<!-- Clear the right and left float so then they not intrapt in next divesion -->
<div class="clear"></div>
<!-- Menu Bar -->
<div th:replace="index3 :: menubar">
</div>

<div class="body-content">
    <div class="module">
        <h1 style="color:#BB1919">Create an account</h1>
        <form th:action="@{/register}" th:object="${user}" method="POST">
            <div class="alert alert-error"></div>
            First Name <mark><strong>
            <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">First Name Error</span>
        </strong></mark>
            <input style="color:#BB1919" type="text" id="firstName" placeholder="First Name" th:field="*{firstName}"/> <br/>
            Last Name <mark><strong>
            <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">First Name Error</span>
        </strong></mark>
            <input style="color:#BB1919" type="text" id="lastName" placeholder="Last Name" th:field="*{lastName}"/> <br/>
            Email <mark><strong>
            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">First Name Error</span>
        </strong></mark>
            <input style="color:#BB1919" type="text" id="email" placeholder="Email" th:field="*{email}"/> <br/>
            User Name <mark><strong>
            <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}">First Name Error</span>
        </strong></mark>
            <input style="color:#BB1919" type="text" id="username" placeholder="Username" th:field="*{username}"/> <br/>
            Password <mark><strong>
            <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">First Name Error</span>
        </strong></mark>
            <input style="color:#BB1919" type="text" id="password" placeholder="Password" th:field="*{password}"/> <br/>
        </form>
    </div>
</div>
<script src="js/form.js"></script>
</body>
</html>