<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-sringsecurity">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>

    <link rel="stylesheet" href="css/indexstyle.css">
    <link rel="stylesheet" href="css/signupstyle.css">
    <link rel="stylesheet" href="/../static/css/indexstyle.css">
    <link rel="stylesheet" href="/../static/css/signupstyle.css">
</head>
<body>
<!-- TOP Bar -->
<div th:replace="index3 :: menubar"></div>

<br>

<h4>New User Registration</h4>
<form autocomplete="off" action="#" th:action="@{/register}" th:object="${user}" method="POST">
    First Name <mark><strong>
    <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">First Name Error</span>
</strong></mark>
    <input type="text" id="firstName" placeholder="First Name" th:field="*{firstName}"/> <br/>
    Last Name <mark><strong>
    <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">First Name Error</span>
</strong></mark>
    <input type="text" id="lastName" placeholder="Last Name" th:field="*{lastName}"/> <br/>
    Email <mark><strong>
    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">First Name Error</span>
</strong></mark>
    <input type="text" id="email" placeholder="Email" th:field="*{email}"/> <br/>
    User Name <mark><strong>
    <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}">First Name Error</span>
</strong></mark>
    <input type="text" id="username" placeholder="Username" th:field="*{username}"/> <br/>
    Password <mark><strong>
    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">First Name Error</span>
</strong></mark>
    <input type="text" id="password" placeholder="Password" th:field="*{password}"/> <br/>
    <button type="submit" class="btn btn-default">Submit</button>
</form>



<script src="js/form.js"></script>
</body>
</html>